name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-javascript:
    name: JavaScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          webhook-url: 'https://example.com'
          message1: 'test1'
          message2: 'test2'
          action-titles: 'title1'
          action-urls: 'https://www.yahoo.co.jp/'
          visible-changed-files: true
  test-action-min:
    name: GitHub Actions Test Min
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Test Local Action Min
        id: test-action-min
        uses: ./
        with:
          webhook-url: 'https://example.com'
  test-action-template:
    name: GitHub Actions Test Template
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Test Local Action (with template)
        id: test-action
        uses: ./
        with:
          webhook-url: 'https://example.com'
          template: './.github/body-template.json'
          message1: 'test1'
          message2: 'test2'
          action-titles: |
            title1
            title2
          action-urls: |
            https://www.yahoo.co.jp/
            https://www.example.com/
